@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'certificate';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('certificate'), url(../../public/assets/fonts/certificate.ttf) format('ttf');
} */
@font-face {

  font-family: "certificate";

  font-style: normal;

  font-weight: 400;

  font-display: swap;

  src: local("certificate"), url(../../public/assets/fonts/certificate.ttf) format("truetype");

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}